@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;1,100;1,200&family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom, #00ccff, white);
    display:flex;
    background-image: url('images/anhnen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bitter', serif;

}

/* ------header.php-------- */
nav 
{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 10vh;
    /* box-shadow: 0px 0px 17px 2px white; */
    border-radius: 10px;
    
}
nav li{
   
    list-style-type: none;
    display: inline-block;
    position : relative;
    left : 30vh;
    font-weight: bold;
    
}
nav a 
{
    padding-left : 65px;
    text-decoration: none;
    font-size: 18px;
    color : white
}

.page a:after
{
    content: "";
    position: absolute; 
    background-color: #ff7200;
    height: 3px;
    width: 0;
    left : 8vh;
    bottom: -10px;
    transition: 0.3s;
}
.page a:hover::after{
    width: 60%;
}
.header a
{
    font-size: 25px;
    font-family: 'Expletus Sans', cursive;
    background : linear-gradient(to right, #ff7200 ,  white);
    -webkit-background-clip: text;
    color : transparent;
}

.page a:hover 
{
   color :  #ff7200;
}

/*----------index.php--------------- */
.index-all
{

    text-align: center;
    color: white;
    padding-top: 10vh;
    font-size: 20px;
}
.index h2 
{
    color: #ff7200;
    font-size: 30px;
}
.index a 
{
    text-decoration: none;
    color: white
}
.warn 
{
    color :rgb(240, 123, 123);
    font-size : 20px;
    font-weight: bold;
}
.link_file a
{
    text-decoration: none;
    color: 		#ffbf00;
    font-weight: bold;
    display : inline-block;
    padding-left: 30px;

}

/*----------login.php--------------- */

.login_form 
{
    
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 30px 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 17px 2px white;
    margin: 5% auto;
    color : white;
}
.login_form h2 
{
    text-align: center;
    color  : orange;
    
}
.input-field input
{
    border-radius: 10px;
    height: 4vh;
    width : 30vh;
    background: #272530;
    /* color : white; */
    
}

.login_form a 
{
    text-decoration: none ;
    padding-left : 35px;
    color: #ff7200;
    font-weight : bold ;
}
.login_form img {
    width:70px;
    margin-left: 10vh;
    
 }

.loginBtn
{
    height: 35px;
    width: 45%;
    font-size: 18px;
    border-radius: 5px;
    background: #f69f42;
    cursor: pointer;
    box-shadow:  0px 0px 3px 2px rgb(238, 114, 5);
}
.loginBtn1
{
    height: 35px;
    width: 45%;
    font-size: 18px;
    border-radius: 5px;
    background: #f69f42;
    cursor: pointer;
    box-shadow:  0px 0px 3px 2px rgb(238, 114, 5);
}
/*----------signup.php--------------- */
.signup-form
{
    max-height: 500vh;
    background: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(131, 114, 102, 0.8);
    border-radius: 10px;
    border: 1px solid #000000;
    /* min-height: 110vh; */
    max-width: 25vw;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    color : white;

}
.input-field1 input 
{
    border-radius: 10px;
    height: 4vh;
    width : 30vh;
    background: #272530;
    color : white;
    
}
.signup-form h2 
{
    text-align: center;
    color : orange;
    font-size: 30px;
    font-weight: bold;
}
.signup-form a 
{
    text-decoration: none;
    color: #ff7200;
}

.signup-sb
{
    height: 35px;
    width: 30%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.signup-sb:hover
{
    background-color: #ff7200;
}
.friend-sys 
{
    text-align: center;
    color : white;
    
}
.table table 
{
    margin-left : 35%;
    color : white;
}
.btn-list a
{
    text-decoration: none;
    color : white ;
}
.btn-list 
{
    text-align: center;
   
}
.friend-sys h3
{
 font-size: 30px;
 color :rgb(238, 114, 5);
}
.friend-sys p 
{
    font-size: 20px;
}
.content-button 
{
    height: 35px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    background: #f69f42;
    

}
.btn-list a 
{
    padding-left : 20px;
    color :rgb(238, 114, 5);
    font-weight: bold;
}
table tr{
    color : #ffd310;
    font-weight: bold;
}
.alerts 
{
    background-color: rgba(239, 63, 63, 0.526);
    padding-left : 10px;
    color : rgb(246, 7, 7);
    font-weight: bold;
}
/* --------------about.php--------------- */

.about h2 {
    color : orange;
}
.about 
{
    margin-left: 15px;
    color : white;
}
.about a 
{
    color :rgb(238, 114, 5);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-left : 10px;
}
.about a:hover
{
    text-decoration: underline;
}
/*---------------pagination---------------*/
.pagination a
{
    color : #ffff99;
    font-weight: bold;
    text-decoration: none;
   display: inline-block;
   padding-left : 25vh;
   padding-right: 25vh;

}

.pagination
{
    text-align: center;
} 
.pagination:hover
{
    text-decoration: underline;
}